html { font-size: 1em; line-height: 1.4; min-width: 800px;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Remove text-shadow in selection highlight: https://twitter.com/miketaylr/status/12228805301
 * Vendor-prefixed and regular ::selection selectors cannot be combined: https://stackoverflow.com/a/16982510/7133471 */
::-moz-selection { background: #3a126b; text-shadow: none; }
::selection { background: #3a126b; text-shadow: none; }
*, ::after, ::before { box-sizing: border-box; }

a { color: #00B7FF; }

.simpleButton {
  color: #fff;
  background-color: #209cee;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px 4px 1.5rem;
  text-align: center;
  vertical-align: middle;
  cursor: url(../img/cursor-click.png) 14 0,pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: 0;
  text-shadow: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  border-color: buttonface;
  align-items: flex-start;
  outline: none;
}

.simpleButton::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
}

.simpleButton.is-black {
  background-color: rgba(38, 38, 54, 1) !important;
  color: white !important;
}

.is-username {
  font-weight: lighter !important;
  font-size: 18px !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The NES class stuff is from the brilliant NES-CSS Project on GitHub */
.nes-container {
  position: relative;
  padding: 1.5rem 0;
  border-color: #000;
  border-style: solid;
  border-width: 4px;
  max-width: fit-content;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.nes-container.with-title.is-centered>.title {
  margin: -2rem auto 1rem;
}

.nes-container.with-title>.title {
  display: table;
  padding: 0 .5rem;
  margin: -1.8rem 0 1rem;
  font-size: 1rem;
  background-color: #fff;
}
/* End NES CSS Zone */

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers:
 * Link: https://github.com/h5bp/html5-boilerplate/issues/440  */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/*  Browser Upgrade Prompt */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Helper classes */
.hidden { display: none !important; }

/* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
* 1. For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line:
* link: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:
* Link: https://www.drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/* Hide visually and from screen readers, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix: contain floats
* 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements.
*/
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after { clear: both; }

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/*  Print styles - Inlined to avoid the additional HTTP request: https://www.phpied.com/delay-loading-your-print-css/ */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre { white-space: pre-wrap !important; }
  pre, blockquote { border: 1px solid #999;  page-break-inside: avoid; }
  /* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.is-stat-box {
  max-width: 2.5rem;
}

.is-grey {
  background: #2a2a2a;
  color: whitesmoke !important;
}
